@{
    ViewData["Title"] = "LCR - Create request";
}
<style>
</style>
<div class="mainContentSet">
    <h1 class="tagNameText">LCR - Create request</h1>
    <div>
        <div style="border: 1px solid grey; border-radius:8px;padding: 10px;">
            <h3 class="font-weight-bold">Parameter Input</h3>
            <div style="display:grid;grid-template-columns:auto auto auto auto; gap: 6px;align-items:end; ">
                <div class="form-group">
                    <label>Request ID</label>
                    <span class="form-control" id="txtRequestID"></span>
                </div>
                <div class="form-group">
                    <label>Lot ID</label>
                    <input type="text" id="txt_LotID" class="form-control" />
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-outline-primary"><i class="fab fa-get-pocket"></i> Get</button>
                </div>
            </div>
        </div>
        
    </div>
</div>
<script>

</script>