@{
    ViewData["Title"] = "Sign History Application";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Application</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Application</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        @* <div class="card-header">
                        <h3 class="card-title">DataTable with minimal features & hover style</h3>
                        </div> *@
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="search">
                                <input type="text" name="search" id="search" onkeyup="search()" placeholder="Search..." />
                            </div>
                            <table id="dataTable" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Application No</th>
                                        <th>Bussiness Justification</th>
                                        <th>User Require</th>
                                        <th>System</th>
                                        <th>Owner</th>
                                        <th>Status</th>
                                        <th>Detail</th>
                                    </tr>
                                </thead>
                                <tbody id="tBody">
                                </tbody>
                            </table>
                            <div class="pagination" id="pagination">
                                @* <a href="#">&laquo;</a> *@

                                @* <a href="#">&raquo;</a> *@
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>

                    <div id="modal-all">
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section Scripts {
    <script>
        $(function () {

        })

        let token = ''
        $(document).ready(function () {
            token = getCookie('esign_token');
            if (!token) {
                window.location.replace("/auth")
            }
            else {
                $('#userInfo').html(localStorage.getItem('display_name') + '(' + localStorage.getItem('user_id') + ')');
            }

            getApplication()
        })
        let dataApplication;
        function getApplication() {
            $.ajax({
                url: '/Application/GetSignHistory',
                type: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + getCookie('esign_token')
                },
                data: { idCard: localStorage.getItem('user_id') },
                success: function (res) {
                    dataApplication = res.data
                    setupPagination(dataApplication, 0, 0);


                },
                error: function (err) {
                    if (err.status == 401) {
                        logout();
                    }
                    else {
                        alert(err);
                    }
                }
            });
        }

        function search() {
            let search = document.getElementById("search");
            let filteredData = dataApplication.filter(item => item.application_no.includes(search.value));
            setupPagination(filteredData, 0, 0)
        }

    </script>
}
