html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}
.pagination {
    float: right;
    margin-top: 15px;
    display: inline-block;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination a.active {
    background-color: #9da59e;
    color: white;
}
.pagination a:hover:not(.active) {
    background-color: #ddd;
}
.search {
    float: right;
    margin-bottom:15px;
}

#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
}

#content {
    transition: opacity 0.2s;
}

#content.opacity-content {
    opacity: 0.9;
}

.file-image {
    width: 30px;
    height:35px;
}

.admin-area {
    position: relative;
    padding-bottom: 6px; /* Khoảng cách giữa nội dung và đường gạch chân */
}

.underline {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; /* Độ dày của gạch chân */
    border-bottom: 2px dashed #8b8b8b; /* Đường gạch chân nét đứt */
}
.selectedUnit::after {
    content: ' ✔';
    color: green;
    float: right;
}