<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/eSign.styles.css" asp-append-version="true" />

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/lib/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/lib/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/lib/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/lib/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/lib/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/lib/plugins/summernote/summernote-bs4.min.css">

    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="~/lib/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/lib/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/lib/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/lib/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="~/lib/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!-- BS Stepper -->
    <link rel="stylesheet" href="~/lib/plugins/bs-stepper/css/bs-stepper.min.css">
    <!-- dropzonejs -->
    <link rel="stylesheet" href="~/lib/plugins/dropzone/min/dropzone.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/lib/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">

    @await RenderSectionAsync("Styles", required: false)
</head>

<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/" class="nav-link">Home</a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">

                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-user"> <span id="userInfo"></span></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                        <a href="#" class="dropdown-item" onclick="logout()">
                            <i class="fas fa-users mr-2"></i> Logout
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                @* <li class="nav-item">
                <a class="nav-link" data-widget="control-sidebar" data-controlsidebar-slide="true" href="#"
                role="button">
                <i class="fas fa-th-large"></i>
                </a>
                </li> *@
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/" class="brand-link">
                <img src="~/lib/dist/img/amkor-logo.jpg" alt="Amkor Logo" class="brand-image img-circle elevation-3"
                    style="opacity: .8">
                <span class="brand-text font-weight-light">Tooling Management</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="/" class="nav-link" id="nav-link-home">
                                <i class="nav-icon fas fa-table"></i>
                                <p>
                                    Wafer Map
                                </p>
                            </a>
                        </li>
                        @* <li class="nav-header">User</li>
                        <li class="nav-item">
                            <a href="/application" class="nav-link" id="nav-link-new-application">
                                <i class="nav-icon far fa-calendar-alt"></i>
                                <p>New application</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/application/application-support" class="nav-link" id="nav-link-application-support">
                                <i class="nav-icon far fa-calendar-alt"></i>
                                <p>Application support</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/application/sign" class="nav-link" id="nav-link-user-sign">
                                <i class="far fa-edit nav-icon"></i>
                                <p>Sign</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/application/sign-history" class="nav-link" id="nav-link-user-sign-history">
                                <i class="far fa-edit nav-icon"></i>
                                <p>Sign History</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/application/history" class="nav-link" id="nav-link-user-history">
                                <i class="fas fa-search nav-icon"></i>
                                <p>History</p>
                            </a>
                        </li> *@
                        @* Menu open *@
                        @* <li class="nav-item menu-open">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Application
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/application" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>New application</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/application/sign" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Sign</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/application/history" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>History</p>
                                    </a>
                                </li>
                            </ul>
                        </li> *@
                        @* <li class="nav-header">Admin</li>
                        <li class="nav-item">
                            <a href="/admin" class="nav-link" id="nav-link-admin-application" style="display:none">
                                <i class="nav-icon far fa-calendar-alt"></i>
                                <p>
                                    My application
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/history" class="nav-link" id="nav-link-admin-history" style="display:none">
                                <i class="nav-icon fas fa-search"></i>
                                <p>
                                    History
                                </p>
                            </a>
                        </li> *@
                        <li class="nav-item">
                            <a href="#" class="nav-link" onclick="logout()">
                                <i class="nav-icon fas fa-users"></i>
                                <p>
                                    Logout
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        @RenderBody()

        <footer class="main-footer">
            <strong>Copyright &copy; 2024 <a href="#">Test IT Department</a>.</strong>
            @* All rights reserved. *@
            <div class="float-right d-none d-sm-inline-block">
                Developed by <b>Captain(700976)</b>
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="~/lib/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- jQuery UI 1.11.4 -->
    <script src="~/lib/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- ChartJS -->
    <script src="~/lib/plugins/chart.js/Chart.min.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/lib/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/lib/plugins/moment/moment.min.js"></script>
    <script src="~/lib/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/lib/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/lib/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/lib/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- Select2 -->
    <script src="~/lib/plugins/select2/js/select2.full.min.js"></script>

    <!-- Bootstrap4 Duallistbox -->
    <script src="~/lib/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <!-- InputMask -->
    <script src="~/lib/plugins/moment/moment.min.js"></script>
    <script src="~/lib/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/lib/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/lib/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/lib/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="~/lib/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- BS-Stepper -->
    <script src="~/lib/plugins/bs-stepper/js/bs-stepper.min.js"></script>
    <!-- dropzonejs -->
    <script src="~/lib/plugins/dropzone/min/dropzone.min.js"></script>
    <!-- bs-custom-file-input -->
    <script src="~/lib/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/lib/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/plugins/jszip/jszip.min.js"></script>
    <script src="~/lib/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/lib/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/lib/dist/js/adminlte.js"></script>
    <script>
        $(document).ready(function () {
            @* // Lấy URL hiện tại
            let currentUrl = window.location.pathname;
            // Lặp qua tất cả các liên kết trong menu
            $('.nav-link').each(function () {
                // Kiểm tra nếu href của liên kết trùng với URL hiện tại
                if ($(this).attr('href') === currentUrl) {
                    // Thêm class 'active' vào liên kết này
                    $(this).addClass('active');
                } else {
                    // Bỏ class 'active' khỏi các liên kết khác
                    $(this).removeClass('active');
                }
            }); *@
            //Lay thong tin user




            let currentUrl = window.location.pathname;
            
            if (currentUrl === '/') $('#nav-link-home').addClass('active');
            if (currentUrl === '/application') $('#nav-link-new-application').addClass('active');
            if (currentUrl === '/application/application-support') $('#nav-link-application-support').addClass('active');
            if (currentUrl === '/application/sign') $('#nav-link-user-sign').addClass('active');
            if (currentUrl === '/application/sign-history') $('#nav-link-user-sign-history').addClass('active');
            if (currentUrl === '/application/history') $('#nav-link-user-history').addClass('active');
            if (currentUrl === '/admin') $('#nav-link-admin-application').addClass('active');
            if (currentUrl === '/admin/history') $('#nav-link-admin-history').addClass('active');

            let urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('sign')) {
                if (currentUrl === '/application/detail' && urlParams.get('sign') == 1) $('#nav-link-user-sign').addClass('active');
                if (currentUrl === '/application/detail' && urlParams.get('sign') == 0) $('#nav-link-user-history').addClass('active');
                if (currentUrl === '/admin/detail' && urlParams.get('sign') == 1) $('#nav-link-admin-application').addClass('active');
                if (currentUrl === '/admin/detail' && urlParams.get('sign') == 0) $('#nav-link-admin-history').addClass('active');
            }

            let roleList = JSON.parse(localStorage.getItem("role"));
            if (roleList.some(role => role.id_role === 2)) {
                @* document.getElementById('nav-link-home').style.display = 'block';
                document.getElementById('nav-link-new-application').style.display = 'block';
                document.getElementById('nav-link-user-sign').style.display = 'block';
                document.getElementById('nav-link-user-sign-history').style.display = 'block';
                document.getElementById('nav-link-user-history').style.display = 'block'; *@
                document.getElementById('nav-link-admin-application').style.display = 'block';
                document.getElementById('nav-link-admin-history').style.display = 'block';
            }
        })

        function logout() {
            window.location.replace('/auth')
            deleteCookie("esign_token");
            localStorage.removeItem('display_name');
            localStorage.removeItem('title_name');
            localStorage.removeItem('email');
        }

    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
